.fullPageContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  font-family: "Roboto";
}
.dashboard {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 152, 239);
  color: aliceblue;
  font-family: "Roboto", "san-serif";
}
li {
  margin-top: 10%;
}

.controlMenu {
}

.topnav {
  display: grid;
  grid-template-rows: auto auto;
}

.searchLine {
  display: grid;
  gap: 5px;
  grid-template-columns: minmax(25ch, 75ch) 1fr auto auto;
}
.fileNav {
  display: grid;
  gap: 5px;
  grid-template-columns: auto 4fr 1fr 1fr 1fr;
  align-items: center;
}

img {
  border-radius: 80px;
}
.projectCreation {
  background-color: rgb(59, 152, 239);
  color: aliceblue;
  padding: 3%;
  border: 0;
  font-family: "Trebuchet MS";
}

ul {
  list-style-type: none;
}

.mainPanel {
  grid-column: 2/3;
  background-color: rgb(231, 236, 241);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projectPanel {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 14px;
}
.project {
  background-color: white;
}

.announcementBox {
  grid-column: 2/3;
}
.story {
}
.userBox {
  grid-column: 2/3;
}
